.main{
    border-radius: 20px;
    border-style:groove;
    border-color: white;
    height:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.main a{
    
    font-family: Arial;
    

}
.background-container{
    width:100%;
    min-height:100vh;
    background-image:url('/newbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* kya oo
 */