.container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-btn{
    padding:10px;
    margin:8px;
    border-radius: 8px;
    border:none;
    background-color: aquamarine;
}