
<div>
    <div class="book-container">
        
    </div>
   
        <div>
        
            <h1 class="logging">Logging</h1>
        
        <div class="form_area">
            <form class="form">
                <label for="Username"><h3>User Name</h3></label>
                <input type="text" id="Username" name="Username" required><br><br>
                <label for="Password"><h3>Password</h3></label>
                <input type="Password" ide="Password" name="Password" required><br><br>
                <button id="logginbutton">Login</button>
               
            </form>
        </div>

           
         <div id="registerarea">
            <button id="registrationbutton"><h1>Registration</h1></button>
           <div>
         
             
     
    </div>
    