
<div class="image-container">
    <div class="one">
      
      <button id="Viewbtn">View</button>
    </div>
    <div class="two">
       
        <button id="Viewbtn">View</button>
    </div>

    <div class="three">
       
        <button id="Viewbtn">View</button>
    </div>
 </div>
 <div class="image-container"  >
    <div class="four">
        
        <button id="Viewbtn">View</button>
    </div>
    <div class="five">
       
        <button id="Viewbtn">View</button>
    </div>
    <div class="six">
       
        <button id="Viewbtn">View</button>
    </div>
</div>